<h1 class="background-image">WELCOME TO ANIME WORLD</h1>
<!-- <div class="container">
    <button id="btn"> Click me </button>
</div> -->
<!-- <div>
    <button (click)="logIn()" style="width:auto;">Login</button>
</div> -->
<!-- <div>
    <button (click)="create()" style="width:auto;">Creat an account</button>
</div> -->
<!-- <div id="logIn" class="modal" *ngIf="popUp">

    <form class="modal-content animate" [formGroup]="logInForm" (ngSubmit)="onSubmitLogIn()">


        <div class="container" >
            <label for="uname"><b>Username</b></label>
            <input type="text" formControlName="username" placeholder="Enter Username" name="username" >

            <label for="psw"><b>Password</b></label>
            <input type="password" formControlName="password" placeholder="Enter Password" name="password" >

            <button type="submit">Login</button>

        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" (click)="cancel()" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div> -->
<!-- <div id="register" class="modal" *ngIf="createPopUp">

    <form class="modal-content animate">


        <div class="container" (ngSubmit)="onSubmit()">
            <label><b>Fullname</b></label>
            <input type="text" placeholder="Enter Fullname" required>
            <label><b>Surname</b></label>
            <input type="text" placeholder="Enter Surname" required>

            <label>Birthday:</label>
            <input type="date">

            <label for="uname"><b>Personal Mail ID</b></label>
            <input type="email" placeholder="example@abc.com" required>

            <label><b>Mobile Number</b></label>
            <input type="text" placeholder="+91 xxxxxxxxx" required>

            <label><b>Create Password</b></label>
            <input type="password" required>
            <label><b>Confirm Password</b></label>
            <input type="password" required>

            <button type="submit" (click)="onSubmit()">SignUp</button>

        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" (click)="cancel1()" class="cancelbtn">Cancel</button>

        </div>
    </form>
</div> -->