<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card w-50 text-center">
        <div class="card-header">
            <h3>{{ title | uppercase }}</h3>
        </div>
        <div class="card-body">
            <form id="myForm" [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div class="d-flex mb-3">
                    <label for="exampleFormControlInput1" class="form-label w-25">Firstname :</label>
                    <input type="text" class="form-control w-75 " id="exampleFormControlInput1"
                        formControlName="firstName" placeholder="Enter your first name">
                </div>
                <div class="d-flex mb-3">
                    <label for="exampleFormControlInput1" class="form-label w-25">Lastname :</label>
                    <input type="text" class="form-control w-75 " id="exampleFormControlInput1"
                        formControlName="lastName" placeholder="Enter your last name">
                </div>
                <div class="d-flex mb-3">
                    <label for="validationServer03" class="form-label w-25"> Email :</label>
                    <input type="email" class="form-control w-75" id="validationServer03"
                        aria-describedby="validationServer03Feedback" formControlName="email"
                        placeholder="Enter your email address" required>
                </div>
                <div class="d-flex mb-3">
                    <label for="exampleFormControlInput1" class="form-label w-25">Date of birth :</label>
                    <input type="date" class="form-control w-75 " id="exampleFormControlInput1"
                        formControlName="dateOfBirth">
                </div>
                <div class="input-group mb-3">
                    <label for="exampleFormControlInput2" class="form-label w-25">Create your password :</label>
                    <input [type]="hide ? 'password' : 'text'" class="form-control" formControlName="newPassword"
                        placeholder="Enter your password">
                    <button class="btn btn-outline-secondary" type="button" (click)="hide = !hide"><i
                            [ngClass]="hide ? 'bi bi-eye-slash' : 'bi bi-eye' "></i></button>
                </div>
                <div class="input-group mb-3">
                    <label for="exampleFormControlInput1" class="form-label w-25">confirm your password :</label>
                    <input [type]="hide ? 'password' : 'text'" class="form-control" formControlName="confirmPassword"
                        placeholder="Confirm your password">
                </div>

            </form>
        </div>
        <div class="card-footer text-body-secondary">
            <button type="button" class="btn btn-primary" form="myForm" routerLink="/login">Login</button>&nbsp;
            <button type="button" class="btn btn-secondary" form="myForm" type="submit">Signup</button>
        </div>
    </div>
</div>








<!-- <mat-card>
    <mat-card-content>
        <div id="register">
            <form  [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div class="container">
                    <div class="example-container">
                        <mat-form-field class="full-width">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" placeholder="Enter User Email" formControlName="firstname"
                                required />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" placeholder="Enter User Email" formControlName="lastname"
                                required />
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="full-width">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                                formControlName="password" required />
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="full-width">
                            <mat-label> Confirm Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm Password"
                                formControlName="password" required />
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <button mat-raised-button color="primary" type="submit">Register</button>&nbsp;<br><br>
                    <p>
                        If you are already existing user? <a routerLink="/login">click here</a>
                    </p>
                </div>
                <div>
                    <button mat-raised-button color="accent" routerLink="/login">Cancel</button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card> -->