/* .example-card {
  width: 70%;
  height: 70%;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
} */
.header {
  text-align: center;
}

mat-card {
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  text-align: center;
  height: 50%;
}

.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

.full-width {
  width: 75%;
  text-align: center;
}

button {
  width: 30%;
  margin: 0 auto;

}